<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sam Winslow</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <main class="container">
      <img src="img/profile-la.jpg" class="profile" alt="Sam Winslow profile" />
      <h1>Sam Winslow</h1>
      <p>I am a software engineer and pilot based in the San Francisco Bay Area. I take an uncompromising approach to safety and reliability, and my experience in early-stage startup companies has made me flexible and pragmatic.</p>
      <p>
        I hold an FAA Commercial Pilot certificate (Single and Multiengine Land), Instrument Rating, high performance and complex endorsements.
      </p>
      <p>
        Need an aircraft ferried somewhere, or assistance with the operations of a flight school, flying club, or partnership? I may be able to help. I am also open to part-time software development and startup advisory roles. 
      </p>
      <p>
        Contact me via
        <a href="https://linkedin.com/in/sambwinslow/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        or text
        <a href="tel:PLACEHOLDER" id="tel-placeholder">1 (###) ###-####</a>
      </p>
      <ul class="post-list">
        {{# posts }}
        <li>
          <a href="/post/{{ slug }}" title="{{ copy }}">{{ title }}</a>
          <time>{{ date }}</time>
        </li>
        {{/ posts }}
        {{^ posts }}
        <li>No posts yet.</li>
        {{/ posts }}
      </ul>
    </main>
    <footer class="container">
      <p>
        &copy; {{ copyright_year }} Sam Winslow.
        View code on <a href="https://github.com/samwinslow/samwinslow-com">GitHub</a>
      </p>
    </footer>
    <script src="index.js"></script>
  </body>
</html>
