<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sam Winslow</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <main class="container container-wide">
      <h1>Sam Winslow</h1>
      <ul class="post-list">
        {{# posts }}
        <li>
          <a href="/post/{{ slug }}">{{ title }}</a>
          <time>{{ date }}</time>
          <span class="post-tag">{{ tags }}</span>
        </li>
        {{/ posts }}
        {{^ posts }}
        <li>No posts yet.</li>
        {{/ posts }}
      </ul>
    </main>
    <footer>
      <p>&copy; {{ copyright_year }} Sam Winslow</p>
    </footer>
    <script src="index.js"></script>
  </body>
</html>
